ol,
li {
  list-style: none;
}


/* Mobile Styles */

@media screen and (max-width: 767px) {


  /* font and colors sets color and sizes across the page*/
  body {
    font-family: sans-serif;
    background-color: #704672;
    font-size: 1.5rem;
    color: white;
  }

  ul a {
    color: white;
  }

  .head-color {
    color: #f8d34f;
    font-weight: bold;
    text-align: center;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;

  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 2rem;
    color: white;
    text-align: center;
  }

  footer p {
    font-size: 1.5rem;
  }

  nav {
    font-size: 2.5rem;
  }

  .wrapper {
    padding: 1.1rem;
  }

  nav {
    text-align: center;
    margin-bottom: 1rem;

  }

  nav img {
    max-width: 100%;
    height: auto;

  }


  nav a:hover {
    color: #f8d34f;
    transform: scale(1.1);
  }

  nav a {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: bold;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #26a9e1;
    border-radius: 10px;
  }



  .homeBanner h1 {
    text-align: center;
    background-color: #26a9e1;
    border-radius: 10px 10px 0px 0px;
    margin: 0;


  }

  .image-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 100%;
    height: auto;
    border-radius: 0px 0px 10px 10px;
    position: relative;

  }





  .aboutImg {

    max-width: 100%;
    height: auto;
    position: relative;
  }

  .about-container {
    text-align: center;

  }

  .about-container img {
    border-radius: 10px;
  }


  /* top product images desplayed in a column  */
  .product-images img {
    max-width: 100%;
    height: auto;
    border-radius: 50px;

  }

  .product-images {
    text-align: center;
  }


  /* top product items desplayed in a row, makes images circles, styling buttons + a hover  */
  .product-items {
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-radius: 50px;
    padding: 2rem;


  }

  .product-items img {
    border-radius: 360px;
    max-width: 100%;
    height: auto;
  }


  .hide {
    display: none;
    visibility: hidden;
  }




  .product-item {
    padding: 2rem;
    margin: 1.5rem;
    text-align: center;
  }

  /* button */
  .buy-button {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;

    line-height: 20px;

    position: relative;
    text-align: center;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    padding: 3rem;

  }

  .buy-button:hover,
  .buy-button:focus {
    background-color: green;
  }






  footer {
    text-align: center;
    padding: 10px 0;
  }

  footer ul {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  footer ul li {
    margin-right: 10px;
  }

  footer a {
    padding-top: 2.3rem;
    padding: 1.5rem;
  }

  footer a:hover {
    color: #0645AD;
    transform: scale(1.1);
  }

  footer {
    background-color: #26a9e1;

  }





}

/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {

  /* font and colors sets color and sizes across the page*/
  body {
    font-family: sans-serif;
    background-color: #704672;
    font-size: 1.5rem;
    color: white;
  }

  ul a {
    color: white;
  }

  .head-color {
    color: #f8d34f;
    font-weight: bold;
    text-align: center;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.6rem;
    color: white;

  }

  footer p {
    font-size: 1.5rem;
  }

  nav {
    font-size: 2rem;
  }

  .wrapper {
    padding: 1.2rem;
  }

  nav a:hover {
    color: #f8d34f;
    transform: scale(1.1);
  }

  nav a {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: bold;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #26a9e1;
    border-radius: 10px;
  }




  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .homeBanner h1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #26a9e1;
    border-radius: 10px;
    padding-left: 9rem;
    padding-right: 9rem;

  }

  .image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }


  /* puts about text to the right of the image */
  .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .aboutImg {
    margin-right: 20px;
    margin-bottom: 2rem;
  }

  .about-container h2,
  .about-container p {
    text-align: left;
  }

  .about-container img {
    border-radius: 10px;
  }






  /* top product images desplayed in a column  */
  .product-images img {
    max-width: 40%;
    height: auto;
    border-radius: 50px;

  }

  .product-images {
    text-align: center;
  }


  /* top product items desplayed in a row, makes images circles, styling buttons + a hover  */
  .product-items {
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-radius: 50px;
    padding: 2rem;
    text-align: center;


  }

  .product-items img {
    border-radius: 360px;
    max-width: 70%;
    height: auto;
  }


  .hide-tablet {
    display: none;
    visibility: hidden;
  }

  .product-item {
    padding: 2rem;
    margin: 1.5rem;
  }

  /* button */
  .buy-button {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 20px;
    padding: 2.5rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

  }

  .buy-button:hover,
  .buy-button:focus {
    background-color: green;
  }

  /* footer */

  footer {
    text-align: center;
    padding: 10px 0;
  }

  footer ul {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  footer ul li {
    margin-right: 10px;
  }

  footer a {
    padding-top: 2.3rem;
    padding: 1.5rem;
  }

  footer a:hover {
    color: #0645AD;
    transform: scale(1.1);
  }

  footer {
    background-color: #26a9e1;
  }



}















/* Desktop Styles */
@media screen and (min-width: 1024px) {

  /* font and colors sets color and sizes across the page*/
  body {
    font-family: sans-serif;
    background-color: #704672;
    font-size: 1.5rem;
    color: white;
  }

  ul a {
    color: white;
  }

  .head-color {
    color: #f8d34f;
    font-weight: bold;
  }

  h1 {
    font-size: 8rem;
    padding-bottom: 1rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.6rem;
    color: white;
  }

  footer p {
    font-size: 1rem;
  }

  nav {
    font-size: 1.8rem;

  }








  /* Styles for desktops */
  .wrapper {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  nav {
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;

    border-radius: 10px;

  }




  nav a:hover {
    color: #f8d34f;
    transform: scale(1.1);
  }

  nav a {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: bold;



  }


  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #26a9e1;
    border-radius: 10px;
    max-height: fit-content;
    width: 120rem;

  }

  .image-container img {
    object-fit: cover;
    opacity: 70%;
    border-radius: 25px;
    max-width: 100%;
    height: 50rem;
  }

  .homeBanner h1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    z-index: 2;
    background-color: #26a9e1;
    border-radius: 10px;
    padding-left: 9rem;
    padding-right: 9rem;

  }

  .image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;

    border-radius: 10px;
  }

  /* puts about text to the right of the image */
  .about-container {
    display: flex;
    flex-direction: row;
  }

  .about-container img {
    border-radius: 10px;
  }

  .about-text {
    padding: 5rem;
  }


  .aboutImg {
    width: 25rem;
    /* Adjust the width to your desired size */
    height: auto;
    /* Maintain aspect ratio */

    object-fit: cover;
    margin-right: 20px;
    margin: 2rem;

  }

  .about-container h2,
  .about-container p {
    text-align: left;
  }




  /* top product images desplayed in a column  */
  .product-images img {
    max-width: 20%;
    height: auto;
  }

  .product-images {
    text-align: center;
    background-color: #26a9e1;
    border-radius: 50px;

  }


  /* top product items desplayed in a row, makes images circles, styling buttons + a hover  */
  .product-items {
    display: flex;
    flex-direction: row;

    justify-items: center;
    border-radius: 50px;
    padding: 2rem;


  }

  .product-items img {
    border-radius: 360px;
    max-width: 70%;
    height: auto;
  }



  .product-item {
    padding: 2rem;
    margin: 1.5rem;
  }

  /* button */
  .buy-button {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 20px;
    padding: 2rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

  }

  .buy-button:hover,
  .buy-button:focus {
    background-color: green;
  }

.skip-link {
  color: white;
  font-size: 6rem;
  align-self: self-end;
}
  /* footer */


  footer {
    background-color: #26a9e1;
    padding: 20px;
    text-align: end;

  }

  footer p {
    color: white;
    margin-bottom: 10px;
  }

  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  footer li {
    margin: 0 10px;
  }

  footer a {
    color: white;
    text-decoration: none;
    padding: 1.5rem;
  }


  footer a:hover {
    color: #0645AD;
    transform: scale(1.1);
  }

}